body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;
}

.container{
    background-color: white;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
   
}

label{
    font-size: 1em;
}

input, select {
    width: 50%;
    padding: 15px 10px;
    margin: 10px;
    border-radius: 10px;
}

.botao{
    width: 100px;
    align-items: center;
    background-color: bisque;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}