body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    margin: 0;
}

.btn {
    position: relative;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


.btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}


.btn:active::after {
    width: 150px;
    height: 150px;
    opacity: 1;
}


h1{
    color: beige;
    
}